*{
    margin:0;
    box-sizing: border-box;
}

.app{
    font-family: sans-serif;
    font-size: 1rem;
    color: yellow;
    background-color: #8FBBFA;
    background-size: cover;
    height: 100hv;
}